@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

.title {
    color: #6654FF;
    font-size: 32px;
    font-weight: bolder;
    font-family: "Open Sans";
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    max-width: 1000px;
    padding: 50px;
    border-radius: 60px;
    backdrop-filter: blur(12px);
}

.inputs {
    display: flex;
    gap: 50px;
}

.num-input {
    font-family: "Open Sans";
    padding: 10px;
    border-radius: 12px;
    border: 2px solid #6654FF;
    color: #6654FF;
    width: 100%;
}

.plus-minus,
.multiply-divide {
    display: flex;
    gap: 10px;
}

.act {
    display: flex;
    gap: 20px;
}

.act-button {
    padding: 10px;
    font-family: "Open Sans";
    border-radius: 12px;
    border: 2px solid #6654FF;
    max-width: 200px;
    min-width: 120px;
    width: 100%;
    transition: all 0.2s ease;
    color: #6654FF;
    background-color: white;
}

.act-button:hover {
    background-color: #6654FF;
    color: white;
}

.submit-button {
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: bolder;
    padding: 10px;
    border-radius: 12px;
    border: 2px solid #6654FF;
    color: #6654FF;
    max-width: 800px;
    min-width: 520px;
    width: 100%;
    transition: all 0.2s ease;
    background-color: white;
}

.submit-button:hover {
    background-color: #6654FF;
    color: white;
}

.response {
    display: flex;
    gap: 15px;
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: bolder;
    color: #6654FF;
}

@media screen and (max-width: 620px) {
    .inputs {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .act {
        flex-direction: column;
    }

    .submit-button {
        font-size: 16px;
        padding: 10px;
        min-width: 240px;
    }

    .response {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 22px;
    }

    .main {
        gap: 15px;
        padding: 25px;
    }
}

@media screen and (max-width: 300px) {
    .main {
        padding: 5px;
        gap: 5px;
    }
}